.deps
.dirstamp
*.o
*.lo
*.la
*~
*.m4
Makefile
Makefile.in
autom4te.cache/
.libs/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

config.h.in
config.h
Config.h
Config.h.in
stamp-h1

*.class
/maps/**/
libosmscout/swig/android/jni/marisa/
libosmscout/swig/android/obj/
libosmscout/swig/android/jni/include/
libosmscout/swig/android/jni/osmscout/
libosmscout/swig/android/src/
libosmscout/swig/java/gen/

/swig/
/maps/

